.logo {
  height: 40px; // adjust as needed
  vertical-align: middle;
}

/* Default: light logo visible, dark logo hidden */
.logo-dark {
  display: none;
}

.logo-light {
  display: inline;
}


[data-theme="dark"] .logo-light {
  display: none;
}

[data-theme="dark"] .logo-dark {
  display: inline;
}