---
layout: page
---
<div class="post">
  
  <article>
    {{ content }}
  </article>
  

  <!-- Team Section -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <!-- Team Filters -->
          <div class="team-filters text-center mb-5">
            <button class="btn btn-sm btn-primary m-1 filter-btn active" data-filter="all">All</button>
            <button class="btn btn-sm btn-outline-primary m-1 filter-btn" data-filter="bureau">Bureau</button>
            <button class="btn btn-sm btn-outline-primary m-1 filter-btn" data-filter="ca">CA</button>
          </div>

          {% include team_grid.liquid %}
        </div>
      </div>
    </div>
  </section>

  <script src="{{ '/assets/js/team-filter.js' | relative_url }}"></script>


</div>


