---
layout: page
---
<div class="post">
  
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <div class="content text-start text-justify">
            {{ content }}          
          </div>
        </div>
      </div>
    </div>
  </section>
  

  <!-- Team Section -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <!-- Team Filters -->
          <div class="team-filters text-center mb-5">
            <button class="btn btn-sm btn-primary m-1 filter-btn active" data-filter="all">All</button>
            <button class="btn btn-sm btn-outline-primary m-1 filter-btn" data-filter="bureau">Bureau</button>
            <button class="btn btn-sm btn-outline-primary m-1 filter-btn" data-filter="CA">CA</button>
          </div>

          {% include team_grid.liquid %}
        </div>
      </div>
    </div>
  </section>




</div>


